@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .font-urbanist {
    font-family: 'Urbanist', sans-serif;
  }

  .font-menlo {
    font-family: 'Menlo', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}